body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Source Sans Pro';
  margin: 0;
}

header {
  background-image: url("./images/big-bg.png");
  background-repeat: no-repeat;
  width: 1440px;
  height: 1093px;
}

.topheading {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1rem;
}

#logo {
  width: 167px;
  height: 29px;
}

.toplinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 700;
  gap: 45px;
  margin: 0;
  width: 234px;
  height: 15px;
}

.maintext {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maintext h1 {
  font-weight: 700;
  font-size: 120px;
  margin-bottom: -1rem;
  margin-top: 10.5rem;
}

.words {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0;
  gap: 40px;
}

.words p {
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 2rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 162px;
  height: 44px;
  padding: 15px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  border-radius: 20px;
  margin: auto;
  white-space: nowrap;
}

.pros-container {
  text-align: center;
  padding-top: 3rem;
  width: 1009px;
  height: 237px;
}

.pros-container h2 {
  font-weight: 700;
  font-size: 32px;
  color: #FFFFFF;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.pros-container span {
  color: #C271FF;

}
.all-pros {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.all-pros .person h3 {
  width: 150px;
  height: 27px;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
}

.all-pros .person p {
  width: 150px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.all-pros .person img {
  width: 150px;
  height: 150px;
}