body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Source Sans Pro';
  margin: 0;
}

header {
  background-image: url("./images/big-bg.png");
  background-repeat: no-repeat;
}

.topheading {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#logo {
  width: 167px;
  height: 29px;
}

.toplinks {
  justify-content: space-between;
  font-size: 12px;
  font-weight: 700;
}

.maintext {
  text-align: center;
}

.maintext h1 {
  font-weight: 700;
  font-size: 120px;
  margin-top: 200px;
  margin-bottom: 0;
}

.words {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  gap: 40px;
  margin-top: 10px;
}

.words p {
  margin: 0;
}